:root {
  --Marine-blue: hsl(213, 96%, 18%);
  --Purplish-blue: hsl(243, 100%, 62%);
  --Pastel-blue: hsl(228, 100%, 84%);
  --Light-blue: hsl(206, 94%, 87%);
  --Strawberry-red: hsl(354, 84%, 57%);
  --Cool-gray: hsl(231, 11%, 63%);
  --Light-gray: hsl(229, 24%, 87%);
  --Magnolia: hsl(217, 100%, 97%);
  --Alabaster: hsl(231, 100%, 99%);
  --White: hsl(0, 0%, 100%);
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: var(--Magnolia);
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
}

.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-medium {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.ubuntu-bold {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.container {
  margin: 0 auto;
  background-color: var(--White);
  max-width: 940px;
  border-radius: 15px;
  box-shadow: 0px 0px 40px var(--Light-gray);
  padding: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.sidebar {
  width: 100%;
  max-width: 275px;
  height: 568px;
  border-radius: 10px;
  background-image: url(./assets/images/bg-sidebar-desktop.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.step {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-left: 32px;
  padding-top: 40px;
}
.step .step_number {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-style: normal;
  color: var(--White);
  border: 1px solid var(--White);
}
.step .active {
  background-color: var(--Light-blue);
  color: var(--Marine-blue);
  border: none;
}
.step .step_box {
  color: var(--White);
  display: inline-flex;
  flex-direction: column;
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: 1px;
}
.step .step_box .title {
  opacity: 0.7;
  font-size: 15px;
}
.step .step_box .text {
  font-weight: 500;
}

.main {
  width: 100%;
  max-width: 650px;
  border-radius: 10px;
}
.main .content {
  padding-top: 15px;
  margin: 0 auto;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.main .content .text h2 {
  color: var(--Marine-blue);
  margin-block-end: 0.6rem;
}
.main .content .text p {
  color: var(--Cool-gray);
  margin-block-start: 0rem;
}
.main .content .form {
  font-weight: 500;
}
.main .content .form label {
  color: var(--Marine-blue);
  font-size: 14px;
}
.main .content .form input {
  all: unset;
  border: 1px solid var(--Light-gray);
  padding-inline-start: 1rem;
  border-radius: 8px;
  color: var(--Marine-blue);
  font-weight: 700;
}
.main .content .form input:focus, .main .content .form input :focus-visible {
  border: 1px solid var(--Marine-blue);
}
.main .content .form input::-moz-placeholder {
  color: var(--Cool-gray);
  font-weight: 400;
}
.main .content .form input::placeholder {
  color: var(--Cool-gray);
  font-weight: 400;
}
.main .content .form .name, .main .content .form .email, .main .content .form .phone {
  display: flex;
  margin-block-end: 30px;
  gap: 0.5rem;
  flex-direction: column;
}
.main .content .form .name :nth-child(2), .main .content .form .email :nth-child(2), .main .content .form .phone :nth-child(2) {
  height: 40px;
}
.main .content .cta {
  display: flex;
  justify-content: flex-end;
}
.main .content .cta button {
  width: 125px;
  height: 50px;
  border-radius: 8px;
  border: none;
  background-color: var(--Marine-blue);
  color: var(--White);
  cursor: pointer;
  font-size: inherit;
  font-weight: 700;
}
.main .content .cta button:hover {
  background-color: #174A89;
}

.attribution {
  padding-block: 1rem;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}